.woocommerce-info {
	@extend .alert;
	@extend .alert-info !optional;
	margin-bottom: $single-gutter;

	.button {
		@extend .btn-info !optional;
		@extend .float-right !optional;
	}
}

.woocommerce-error {
	@extend .alert;
	@extend .alert-danger !optional;
	list-style-type: none;
	margin-bottom: $single-gutter;

	.button {
		@extend .btn-danger !optional;
		@extend .float-end !optional;
		@extend .btn-sm !optional;
	}
}

.woocommerce-message {
	@extend .alert;
	@extend .alert-success !optional;
	margin-bottom: $single-gutter;

	.button {
		@extend .btn-danger !optional;
		@extend .float-end !optional;
		@extend .btn-sm !optional;
	}

	&.woocommerce-info {
		.button {
			@extend .btn-info !optional;
			@extend .float-end !optional;
		}
	}
}
